---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-gpg-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.gpg.priv: |
      {{ GPG_SALTDEPLOYER_PRIVATE_KEY }}

---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-ssh-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.priv: |
      {{ SSH_SALTDEPLOYER_PRIV }}
  saltdeployer.pub: |
      {{ SSH_SALTDEPOYER_PUB }}