---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-gpg-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.gpg.priv: |
      {{ GPG_SALTDEPLOYER_PRIVATE_KEY | base64_decode | indent(6) }}

---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-ssh-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.priv: |
      {{ SSH_SALTDEPLOYER_PRIV | base64_decode | indent(6) }}
  saltdeployer.pub: |
      {{ SSH_SALTDEPOYER_PUB | base64_decode | indent(6) }}