---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-gpg-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.gpg.priv: |
      {{ GPG_SALTDEPLOYER_PRIVATE_KEY }}

---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-saltdeployer-ssh-keys
  namespace: {{ NAMESPACE }}
data:
  saltdeployer.priv: |
      {{ SSH_SALTDEPLOYER_PRIV }}
  saltdeployer.pub: |
      {{ SSH_SALTDEPOYER_PUB }}

---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-master-gcp-access
  namespace: {{ NAMESPACE }}
data:
  credentials.json: |
      {{ PILLAR_BUCKET_CREDENTIAL | indent(6) }}

---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-certbot-gcp
  namespace: {{ NAMESPACE }}
data:
  dns.json: |
      {{ CERTBOT_DNS_CREDENTIAL | indent(6) }}

  bucket.json: |
      {{ CERTBOT_BUCKET_CREDENTIAL | indent(6) }}