apiVersion: v1
kind: Service
metadata:
  name: {{ DEPLOYMENT_NAME }}-master
  namespace: {{ NAMESPACE }}
  labels:
    name: {{ DEPLOYMENT_NAME }}-master
spec:
  type: NodePort
  ports:
    - port: 4505
      targetPort: 4505
      name: {{ DEPLOYMENT_NAME }}-4505
    - port: 4506
      targetPort: 4506
      name: {{ DEPLOYMENT_NAME }}-4506
  selector:
    name: {{ DEPLOYMENT_NAME }}-master
---
apiVersion: v1
kind: Service
metadata:
  name: {{ DEPLOYMENT_NAME }}-api
  namespace: {{ NAMESPACE }}
  labels:
    name: {{ DEPLOYMENT_NAME }}-api
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      name: {{ DEPLOYMENT_NAME }}-80
    - port: 443
      targetPort: 443
      name: {{ DEPLOYMENT_NAME }}-443
  selector:
    name: {{ DEPLOYMENT_NAME }}-master

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ DEPLOYMENT_NAME }}-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "{{ SALT_API_HOST | replace(".", "-") | lower }}"
spec:
  tls:
    - secretName: {{ DEPLOYMENT_NAME }}-master-api-tls
  backend:
    serviceName: {{ DEPLOYMENT_NAME }}-api
    servicePort: {{ DEPLOYMENT_NAME }}-80
  rules:
  - host: {{ SALT_API_HOST }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ DEPLOYMENT_NAME }}-api
          servicePort: {{ DEPLOYMENT_NAME }}-80
