kind: "Deployment"
apiVersion: "extensions/v1beta1"
metadata:
  name: {{ DEPLOYMENT_NAME }}
  namespace: {{ NAMESPACE }}
  labels:
    name: {{ DEPLOYMENT_NAME }}
spec:
  replicas: {{ MIN_REPLICAS }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 2
  selector:
    matchLabels:
      name: {{ DEPLOYMENT_NAME }}
  template:
    metadata:
      name: {{ DEPLOYMENT_NAME }}
      labels:
        name: {{ DEPLOYMENT_NAME }}
    spec:
      containers:
        - name: proxy
          image: nginx
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              path: /health
              port: 80
          livenessProbe:
            httpGet:
              path: /health
              port: 80
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: nginx-proxy
        - name: saltstack-master
          image: {{ IMAGE }}
          imagePullPolicy: Always
          env:
            - name: GPG_PRIV_KEY_PATH
              value: "/etc/salt/secret_gpg/saltdeployer.gpg.priv"
            - name: SSH_SALTDEPLOYER_PUB
              value: "/etc/salt/secret_ssh/saltdeployer.pub"
            - name: SSH_SALTDEPLOYER_PRIV
              value: "/etc/salt/secret_ssh/saltdeployer.priv"
          readinessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 15
          resources:
            requests:
              memory: "400Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /etc/salt/master.d/
              name: saltstack-master
            - mountPath: /etc/salt/secret_gpg/
              name: gpg-keys
            - mountPath: /etc/salt/secret_ssh/
              name: ssh-key
      volumes:
        - name: saltstack-master
          configMap:
            name: {{ DEPLOYMENT_NAME }}-config
        - name: gpg-keys
          secret:
            secretName: {{ DEPLOYMENT_NAME }}-saltdeployer-gpg-keys
        - name: ssh-keys
          secret:
            secretName: {{ DEPLOYMENT_NAME }}-saltdeployer-ssh-keys
        - name: nginx-proxy
          configMap:
            name: {{ DEPLOYMENT_NAME }}-nginx-proxy
