apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ DEPLOYMENT_NAME }}-minion
  namespace: {{ NAMESPACE }}
  labels:
    name: {{ DEPLOYMENT_NAME }}-minion
spec:
  selector:
    matchLabels:
      name: {{ DEPLOYMENT_NAME }}-minion
  template:
    metadata:
      name: {{ DEPLOYMENT_NAME }}-minion
      labels:
        name: {{ DEPLOYMENT_NAME }}-minion
    spec:
      containers:
      - name: saltstack-minion
        image: {{ IMAGE_MINION }}
        imagePullPolicy: Always
        env:
          - name: API_USERNAME
            value: "{{ API_USERNAME }}"
          - name: API_PASSWORD
            value: "{{ API_PASSWORD }}"
          - name: SALT_API_HOST
            value: "{{ SALT_API_HOST }}"
          - name: MINION_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - 'salt-call status.master {{ DEPLOYMENT_NAME }}-master | grep True'
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - 'salt-call status.master {{ DEPLOYMENT_NAME }}-master | grep True'
          initialDelaySeconds: 5
          periodSeconds: 10
        lifecycle:
          preStop:
            exec:
              command:
                - /bin/sh
                - -c
                - 'salt-call event.send /minion/shutdown'
        resources:
          limits:
            memory: 500Mi
            cpu: 400m
          requests:
            cpu: 100m
            memory: 200Mi
        volumeMounts:
          - mountPath: /etc/salt/minion.d/
            name: saltstack-minion
      terminationGracePeriodSeconds: 60
      volumes:
        - name: saltstack-minion
          configMap:
            name: {{ DEPLOYMENT_NAME }}-minion-config