apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ DEPLOYMENT_NAME }}-certbot
  namespace: {{ NAMESPACE }}
spec:
  schedule: "15 4 */1 * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: certbot
              image: {{ IMAGE_CERTBOT }}
              env:
                - name: BUCKET_ID
                  value: '{{ PILLAR_BUCKET_ID }}'
                - name: PROJECT_ID
                  value: '{{ PILLAR_BUCKET_PROJECT }}'
                - name: DOMAINS
                  value: '{{ DOMAINS }}'
                - name: CERTBOT_SERVER
                  value: '{{ CERTBOT_SERVER }}'
                - name: BACKUP_FILENAME
                  value: '{{ DEPLOYMENT_NAME }}-master-certbot.tar.gz'
                - name: GOOGLE_CREDENTIALS_FILE_DNS
                  value: "/secrets/dns.json"
                - name: GOOGLE_CREDENTIALS_FILE_BUCKET
                  value: "/secrets/bucket.json"
                - name: EMAIL
                  value: '{{ CERTBOT_EMAIL }}'
                - name: GPG_PUBLIC_KEY
                  value: '{{ GPG_SALTDEPLOYER_PUBLIC_KEY }}'
                - name: NAMESPACE
                  value: '{{ NAMESPACE }}'
                - name: DEPLOYMENT_NAME
                  value: '{{ DEPLOYMENT_NAME }}'
              volumeMounts:
                - mountPath: /secrets/
                  name: gcp-secret
          restartPolicy: OnFailure
          volumes:
            - name: gcp-secret
              secret:
                secretName: {{ DEPLOYMENT_NAME }}-certbot-gcp


---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ DEPLOYMENT_NAME }}-certbot-init
  namespace: {{ NAMESPACE }}
spec:
  template:
    spec:
      containers:
        - name: certbot
          image: {{ IMAGE_CERTBOT }}
          env:
            - name: BUCKET_ID
              value: '{{ PILLAR_BUCKET_ID }}'
            - name: PROJECT_ID
              value: '{{ PILLAR_BUCKET_PROJECT }}'
            - name: DOMAINS
              value: '{{ DOMAINS }}'
            - name: CERTBOT_SERVER
              value: '{{ CERTBOT_SERVER }}'
            - name: BACKUP_FILENAME
              value: '{{ DEPLOYMENT_NAME }}-master-certbot.tar.gz'
            - name: GOOGLE_CREDENTIALS_FILE_DNS
              value: "/secrets/dns.json"
            - name: GOOGLE_CREDENTIALS_FILE_BUCKET
              value: "/secrets/bucket.json"
            - name: EMAIL
              value: '{{ CERTBOT_EMAIL }}'
            - name: GPG_PUBLIC_KEY
              value: '{{ GPG_SALTDEPLOYER_PUBLIC_KEY }}'
            - name: NAMESPACE
              value: '{{ NAMESPACE }}'
            - name: DEPLOYMENT_NAME
              value: '{{ DEPLOYMENT_NAME }}'
          volumeMounts:
            - mountPath: /secrets/
              name: gcp-secret
      restartPolicy: OnFailure
      volumes:
        - name: gcp-secret
          secret:
            secretName: {{ DEPLOYMENT_NAME }}-certbot-gcp
